/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

:root {
	--dark-icon:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(80%);

	--dark-icon-secondary:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(60%);

	--dark-icon-disabled:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(25%);
}

/* Icons */
img.icon, .eb-icon[data-icon^="system-"] {
	filter: var(--dark-icon);
}

.secondary img.icon,	.secondary .eb-icon[data-icon^="system-"],
img.icon.secondary,	.eb-icon[data-icon^="system-"].secondary {
	filter: var(--dark-icon-secondary);
}

.secondary img.icon:hover,	.secondary .eb-icon[data-icon^="system-"]:hover,
.secondary *:hover > img.icon,	.secondary *:hover > .eb-icon[data-icon^="system-"],
.secondary:hover > img.icon,	.secondary:hover > .eb-icon[data-icon^="system-"],
img.icon.secondary:hover,	.eb-icon[data-icon^="system-"].secondary:hover {
	filter: var(--dark-icon);
}

.disabled img.icon,	.disabled .eb-icon[data-icon^="system-"],
img.icon.disabled,	.eb-icon[data-icon^="system-"].disabled {
	filter: var(--dark-icon-disabled) !important;
}

/* System Icons */
.eb-icon[data-icon="system-arrow-expand"] {
	background: url("data:image/svg+xml;charset=utf-8;base64,\
		PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciI\
		HZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iY29udGV4dC\
		1maWxsIiBkPSJNNiAxNGExIDEgMCAwIDEtLjcwNy0xLjcwN0w5LjU\
		4NiA4IDUuMjkzIDMuNzA3YTEgMSAwIDAgMSAxLjQxNC0xLjQxNGw1\
		IDVhMSAxIDAgMCAxIDAgMS40MTRsLTUgNUExIDEgMCAwIDEgNiAxN\
		HoiLz48L3N2Zz4=");
}

.secondary .eb-icon[data-icon="system-arrow-expand"],
.eb-icon[data-icon="system-arrow-expand"].secondary {
	filter: var(--dark-icon-disabled) !important;
}
