img.icon, .eb-icon[data-icon^="system-"] {
	filter: invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(80%);
}

.secondary img.icon,	.secondary .eb-icon[data-icon^="system-"],
img.icon.secondary,	.eb-icon[data-icon^="system-"].secondary {
	filter: invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(60%);
}

.secondary img.icon:hover,	.secondary .eb-icon[data-icon^="system-"]:hover,
.secondary *:hover > img.icon,	.secondary *:hover > .eb-icon[data-icon^="system-"],
.secondary:hover > img.icon,	.secondary:hover > .eb-icon[data-icon^="system-"],
img.icon.secondary:hover,	.eb-icon[data-icon^="system-"].secondary:hover {
	filter: invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(80%);
}

.disabled img.icon,	.disabled .eb-icon[data-icon^="system-"],
img.icon.disabled,	.eb-icon[data-icon^="system-"].disabled {
	filter: invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(25%) !important;
}

/* System Icons */
.eb-icon[data-icon="system-arrow-expand"] {
	background: url("data:image/svg+xml;charset=utf-8;base64,\
		PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciI\
		HZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iY29udGV4dC\
		1maWxsIiBkPSJNNiAxNGExIDEgMCAwIDEtLjcwNy0xLjcwN0w5LjU\
		4NiA4IDUuMjkzIDMuNzA3YTEgMSAwIDAgMSAxLjQxNC0xLjQxNGw1\
		IDVhMSAxIDAgMCAxIDAgMS40MTRsLTUgNUExIDEgMCAwIDEgNiAxN\
		HoiLz48L3N2Zz4=");
}