:root {
	--dark-icon:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(80%);

	--dark-icon-secondary:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(60%);

	--dark-icon-disabled:
		invert(100%) brightness(005%) sepia(1) hue-rotate(180deg) brightness(0.96) saturate(0.09) brightness(0.9) opacity(25%);
}

/* Icons */
img.icon, .eb-icon[data-icon^="system-"] {
	filter: var(--dark-icon);
}

.secondary img.icon,	.secondary .eb-icon[data-icon^="system-"],
img.icon.secondary,	.eb-icon[data-icon^="system-"].secondary {
	filter: var(--dark-icon-secondary);
}

.secondary img.icon:hover,	.secondary .eb-icon[data-icon^="system-"]:hover,
.secondary *:hover > img.icon,	.secondary *:hover > .eb-icon[data-icon^="system-"],
.secondary:hover > img.icon,	.secondary:hover > .eb-icon[data-icon^="system-"],
img.icon.secondary:hover,	.eb-icon[data-icon^="system-"].secondary:hover {
	filter: var(--dark-icon);
}

.disabled img.icon,	.disabled .eb-icon[data-icon^="system-"],
img.icon.disabled,	.eb-icon[data-icon^="system-"].disabled {
	filter: var(--dark-icon-disabled) !important;
}
